<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
        <p>Sorry, that page was not found</p>
        <p>The server provided the following message:</p>
        <span id = "error_message"><%= message %></span>
    </body>
</html>