<html>
    <head>
    </head>
    <body>
        <h1>Welcome to the Recipe Generator!</h1>

        <ul>Here are some links!
            <li><a href= "/search">Search for Recipes</a></li>
            <li><a href = "/recipes">Browse Existing Recipes</a></li>
        </ul>
    </body>
</html>