<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
        <nav>
            <div class = "container">
                <div class="nav-wrapper">
                    <a class="brand-logo right">Recipe Generator</a>
                    <div class = "col s12">
                        <a href="#!" class="breadcrumb">Home</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class = "container">
            <ul>
                <li><a href= "/search">Search for Recipes</a></li>
                <li><a href = "/recipes">Browse Existing Recipes</a></li>
            </ul>
        </div>
    </body>
</html>