<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
        <div class = "container">
            <h1>Recipe Generator</h1>

            <ul>Here are some links!
                <li><a href= "/search">Search for Recipes</a></li>
                <li><a href = "/recipes">Browse Existing Recipes</a></li>
            </ul>
        </div>
    </body>
</html>